DATABASE_URL="mongodb+srv://lguima:root@psicliente.od22g.mongodb.net/psicliente?retryWrites=true&w=majority&appName=psicliente"
# DATABASE_URL="mongodb+srv://<usuario>:<senha>@<nome_do_BD>.od22g.mongodb.net/<nome_do_BD>?retryWrites=true&w=majority&appName=<nome_do_BD>"